.death_button_container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.death_button {
    width: 22%;
    margin-left: 2%;
    margin-right: 2%;
    height: 100px;
    padding-top: 5px; /* fix font being slightly top-aligned */
    font-size: 20pt;
    font-family: 'Yabelagi';
    cursor: pointer;
}

@media (max-width: 810px) {
    .death_button {
        width: 27%;
        font-size: 18pt;
    }
}

@media (max-width: 456px) {
    .death_button {
        font-size: 16pt;
    }
}

#refresh_container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.refresh_button {
    width: 15%;
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 5px; /* fix font being slightly top-aligned */
    font-size: 15pt;
    font-family: 'Yabelagi';
    cursor: pointer;
}

@media (max-width: 810px) {
    .refresh_button {
        width: 20%;
    }
}

@media (max-width: 456px) {
    .refresh_button {
        width: 30%;
    }
}

.info_text {
    font-family: 'Cipher';
}

/* size of the whole info section on desktop/large screen */
#infoContainer {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media (max-width: 1200px) {
    #infoContainer {
        max-width: 80%;
    }
}

@media (max-width: 810px) {
    #infoContainer {
        max-width: 100%;
    }
    
}