.death_button_container {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.death_button {
    width: 22%;
    margin-left: 2%;
    margin-right: 2%;
    height: 100px;
    padding-top: 5px; /* fix font being slightly top-aligned */
    font-size: 20pt;
    font-family: 'Yabelagi';
}

#refresh_container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.refresh_button {
    width: 15%;
    height: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 5px; /* fix font being slightly top-aligned */
    font-size: 15pt;
    font-family: 'Yabelagi';
}

.info_text {
    font-family: 'Cipher';
}