#abilities {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.name-section {
    margin-bottom: 10px;
}

.abilities-section {
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
}

#powers_desc {
    margin-bottom: 10px;
}

#power_section {
    margin-left: 20px;
}

.divider {
    height: 10px;
}

#equipment_list {
    margin-left: -25px;
    margin-top: 0px;
}

.spell_details_description {
    margin-bottom: 5px;
}

#power_name {
    margin-bottom: 5px;
    margin-top: 5px;
}

.section_header {
    margin-bottom: 0px;
    font-size: 20pt;
}

.section_text {
    margin-top: 10px;
    font-family: 'Cipher';
}

#species_name {
    font-family: 'Yabelagi';
    font-size: 14pt;
}

#class_name {
    font-family: 'Yabelagi';
    font-size: 14pt;
}

#class_description {
    margin-top: 10px;
}

#stats_title {
    font-family: 'Yabelagi';
    font-size: 14pt;
}

#stats-container {
    margin-top: 10px;
}

#bag_title {
    font-family: 'Yabelagi';
    font-size: 14pt;
    margin-bottom: 0px;
}