#abilities {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.name-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.abilities-section {
    width: 35%;
    margin-left: 5%;
    margin-right: 5%;
}

#powers_desc {
    margin-bottom: 10px;
}

#power_section {
    margin-left: 20px;
}

.divider {
    height: 10px;
}

#equipment_list {
    margin-left: -25px;
}

.spell_details_description {
    margin-bottom: 5px;
}

#power_name {
    margin-bottom: 5px;
    margin-top: 5px;
}