/* TITLE */

#bvnbirther-title {
  width: 100%;
  text-align: center;
  display: block;
}

.title {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  font-family: 'Wonderworld';
}

#bvnbirther-subtitle {
  width: 100%;
  text-align: center;
  display: block;
  font-family: 'Cipher';
}

#logo {
  display:block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3%;
  height: 40vmin;
}

/* Bunny Info */

.label-bold {
  margin-right: 15px;
}

#name {
  display: block;
}

.sub-stat {
  display: inline-flex;
  margin-right: 3%;
  margin-left: 3%;
  flex-flow: row wrap;
}

@media (max-width: 456px) {
  .sub-stat {
    display: flex;
    justify-content: center;
  }

  .label-bold {
    margin-right: 10px;
    margin-left: 10px;
  }
}

#sub-stat-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.division-rule {
  margin-left: 5%;
  margin-right: 5%;
}


/* Footer */

#footer {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

#github-logo {
  width: 30px;
}

#report-issue-button {
  background: none;
  display: inline-flex;
  align-items:center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

#report-issue-text {
  font-family:'Cipher';
  font-size: 14px;
}

#version {
  font-family: 'Cipher';
  font-size: 11pt;
  margin-bottom: 10px;
  opacity: 60%;
}

/* Fonts */

@font-face {
  font-family: 'Wonderworld';
  src: url('./fonts/Wonderworld/WonderworldPersonalUseRegular-gxdo3.otf');
}

@font-face {
  font-family: 'Yabelagi';
  src: url('./fonts/Yabelagi/Yabelagi-1jyXL.otf');
}

@font-face {
  font-family: 'Cipher';
  src: url('./fonts/Cipher/Cipher-Gvng.ttf');
}