.label-bold {
  margin-right: 15px;
}

#name {
  display: block;
}

.sub-stat {
  display: inline-flex;
  margin-right: 3%;
  margin-left: 3%;
  flex-flow: row wrap;
}

#sub-stat-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.division-rule {
  margin-left: 5%;
  margin-right: 5%;
}

#bvnbirther-title {
  width: 100%;
  text-align: center;
  display: block;
}

#bvnbirther-subtitle {
  width: 100%;
  text-align: center;
  display: block;
}

#logo {
  display:block;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}